<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Music.Test.Windows.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Music;Integrated Security=True;" />
    </connectionStrings>
</configuration>