@{
    this.ViewBag.Title = "Music Test Project";
}

<div class="container">
    <br />
    <div class="jumbotron">
        <h1>Music Test Project!</h1>
        <p>Small application for testing purposes. If you're looking for something cool, Southwind application is fancier.</p>
    </div>
</div>
